<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/tyhmeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Formulário de solicitação imobiliário</title>
</head>

<body>
    <h1>Formulário de solicitação imobiliário</h1>

    <form method="post">
        Data da solicitação: <input type="date" value="" name="data"/>
        Nome do solicitante: <input type="text" value="" name="nome"/>
        Valor do financiamento: <input type="number" value="" name="valor"/>
        Rendimentos: <input type="number" value="" name="rendimentos"/>

        <button type="submit">Submeter</button>
    </form>
</body>
</html>